html{
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    width: 100%;
    padding: 0; margin: 0;
}

body{
    margin: 0;
}

header{
    display: flex;
}

header a{
    color: black;
}

#logo{
    display: flex; margin-left: 20px;
}

#logo img{
    height: 45px;
}

#nav{
    display: flex; height: 100%;
}

#nav ul{
    display: flex; height: 100%; padding: 0; margin: 0;
}

#nav li{
    display: flex; list-style: none; margin: 0; padding: 0 10px;
}

#nav a{
    height: 100%; display: flex;
}

#filtres li{
    border: 2px solid #e6e6e6; border-radius: 30px; font-weight: bold;
    list-style: none; padding: 13px 15px 13px 50px;
}

#filtres li:hover{
    background-color: #DEEBFF; color: #0065FC; border-color: #DEEBFF; cursor: pointer;
}

#filtres li:hover i{
    background-color: #0065FC; color: white;
}

#filtres li i{
    margin: -14px 0 0 -57px; padding: 15px; position: absolute;
    color: #0065FC; background-color: #DEEBFF; border-radius: 30px;
}

#filtres ul{
    padding: 0; display: flex;
}

#info{
    display: flex; align-items: center; font-size: 14px;
}

#info i{
    border-radius: 30px; margin-right: 10px;
    color: #0065FC; padding: 5px 10px; border: 3px solid #F2F2F2;
}

#search, #filtres, #info{
    margin: 20px 3%;
}

#search h3{
    margin: 0;
}

#search p{
    margin-top: 10px; margin-bottom: 30px; font-size: 14px;
}

#search form{
    display: flex;
}

#search label{
    padding: 11px 13px 7px 13px; background-color: #F2F2F2; border-radius: 10px 0 0 10px;
}

#search-bar{
   padding: 10px; font-weight: bold; border: 1px solid #F2F2F2;
}

#search-bar:focus{
    outline: none;
}

#search button{
    padding: 10px 15px;  background-color: #0065FC; color: white; border: none;
}

#search button:hover{
    cursor: pointer;
}

#desktop-button{
    border-radius: 0 10px 10px 0; margin-left: -4px;
}

#hebergements{
    display: flex; width: 100%; margin-top: 30px;
}

#hebergements-liste p, #hebergements-populaires p{
    margin: 5px 0;
}

#hebergements-liste img{
    width: 98%; height: 100px; object-fit: cover; border-radius: 10px 10px 0 0;
}

#hebergements-liste figcaption, #hebergements-populaires figcaption{
    text-align: left; font-size: 13px; padding: 5px 10px;
}

#hebergements a, #activites a{
    text-decoration: none; color: black;
}

#more{
    font-weight: bold;
}

.hotel_name{
    display: block; font-weight: bold; margin-bottom: 5px; font-size: 13px;
}

.blue-star{
    color: #0065FC;
}

.grey-star{
    color: #F2F2F2;
}

figure{
    box-shadow: 1px 1px 10px #aaa;
}

/* règles CSS à appliquer sur ordi */
@media screen and (min-width: 992px) {
    header{justify-content: space-between; align-items: center; padding: 0 30px; height: 130px;}
    #nav{justify-content: space-between; align-items: center;}
    #nav li{height: 100%; width: 120px; justify-content: space-around;}
    #nav li:hover{border-top: 3px solid #0065FC;}
    #nav li:hover a{margin-top: -3px; color: #0065FC;}
    #nav a{height: 130px; align-items: center; text-decoration: none;}    
    #mobile-button{display: none;}
    #filtres{display: flex; align-items: center;}
    #filtres li{margin-left: 30px;}
    #hebergements{justify-content: space-evenly;}
    #hebergements-liste{display: flex; flex-direction: column; width: 58%; background-color: #F2F2F2; padding: 15px; border-radius: 15px;}
    #hebergements-liste figure{width: 28%; margin: 0; text-align: center; background-color: white; padding: 5px; border-radius: 15px;}
    #ligne1, #ligne2{display: flex; justify-content: space-around; align-content: center; margin-bottom: 25px;}
    #hebergements-populaires{display:flex; flex-direction: column; width: 28%; background-color: #F2F2F2; padding: 15px; border-radius: 15px;}
    #hebergements-populaires figure{display:flex; width: 98%; padding: 1%; margin: 10px 0; background-color: white; border-radius: 15px;}
    #ligne3{display: flex; flex-direction: column; padding: 0 15px;}
    #ligne3 a{display: flex;}
    #ligne3 figcaption{ padding: 10px;}
    #ligne3 img{width: 100px; height: 100px; object-fit: cover; border-radius: 10px 0 0 10px;}
}

/* règles CSS à appliquer sur tablette */
@media screen and (min-width: 768px) and (max-width: 991px) {
    header{justify-content: space-between; align-items: center; padding: 0 30px; height: 130px;}
    #nav{justify-content: space-between; align-items: center;}
    #nav li{height: 100%; width: 120px; justify-content: space-around;}
    #nav li:hover{border-top: 3px solid #0065FC;}
    #nav li:hover a{margin-top: -3px; color: #0065FC;}
    #nav a{height: 130px; align-items: center; text-decoration: none;}
    #mobile-button{display: none;}
    #search h3{font-size: 20px;}
    #search p{font-size: 15px;}
    #filtres{margin-top: 40px;}
    #filtres ul{display: flex; flex-wrap: wrap;}
    #filtres li{margin-right: 20px; margin-left: 5px; margin-bottom: 15px;}
    #hebergements{justify-content: space-evenly;}
    #hebergements-liste{display: flex; flex-direction: column; width: 50%; background-color: #F2F2F2; padding: 15px; border-radius: 15px;}
    #hebergements-liste figure{width: 30%; margin: 0; text-align: center; background-color: white; padding: 5px; border-radius: 15px;}
    #ligne1, #ligne2{display: flex; justify-content: space-around; align-content: center; margin-bottom: 25px;}
    #hebergements-populaires{display:flex; flex-direction: column; width: 30%; background-color: #F2F2F2; padding: 15px; border-radius: 15px;}
    #hebergements-populaires figure{display:flex; width: 98%; padding: 2%; margin: 10px 0; background-color: white; border-radius: 15px;}
    #ligne3{display: flex; align-items: center; flex-direction: column; text-align: center; padding: 0 15px;}
    #ligne3 a{display: flex;}
    #ligne3 figcaption{padding: 10px;}
    #ligne3 img{width: 80px; height: 80px; object-fit: cover; border-radius: 10px 0 0 10px;}
}

/* règles CSS à appliquer sur mobile */
@media screen and (max-width: 767px) {
    html::-webkit-scrollbar{display: none;}
    html{-ms-overflow-style: none; scrollbar-width: none;}
    header{align-items: center; flex-direction: column; width: 100%;}
    #logo{margin: 30px 0;}
    #nav{width: 100%; justify-content: center;}
    #nav ul{width: 100%; margin-bottom: 30px;}
    #nav li{width: 50%; justify-content: center; padding: 10px 0; border-bottom: 3px solid #F2F2F2;}
    #nav li:hover{border-color: #0065FC;}
    #nav li:hover a{margin-bottom: -3px; color: #0065FC;}
    #nav a{text-decoration: none;}
    #search h3{font-size: 22px;}
    #search p{font-size: 16px;}
    #search form{border: 1px solid #F2F2F2; border-radius: 10px;}
    #search-bar{border: none;}
    #info i{display: flex;}
    #desktop-button{display: none;}
    #mobile-button{position: absolute; right: 3%; width: 39px; border-radius: 10px;}
    #filtres{margin-top: 40px;}
    #filtres ul{display: flex; flex-wrap: wrap;}
    #filtres li{margin-right: 20px; margin-left: 5px; margin-bottom: 15px;}
    #hebergements{flex-direction: column-reverse; align-items: center;}
    #hebergements h3{text-align: left; margin-left: 5px;}
    #hebergements-liste, #hebergements-populaires{width: 90%; margin: 0; padding: 5px;}
    #hebergements-populaires figure{display:flex; width: 98%; padding: 1%; margin: 10px 0; border-radius: 15px;}
    #ligne1{justify-content: space-around;}
    #ligne3{display: flex; align-items: center; flex-direction: column; background-color: #F2F2F2;}
    #ligne3 figcaption{padding: 10px;}
    #ligne3 img{width: 120px; height: 120px;}
    #hebergements-liste figure{width: 98%; padding: 1%; margin: 10px 0px; text-align: center; background-color: white; border-radius: 15px;}
}

#activites img{
    width: 100px;
}
